<!doctype html>
{% load staticfiles %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="My Drive">
    <meta name="author" content="">

    <title> My Drive</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="{% static 'homepage/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    
    <!-- Custom CSS-->
    <link href="{% static 'homepage/css/general.css' %}" rel="stylesheet">
    
     <!-- Owl-Carousel -->
    <link href="{% static 'homepage/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/animate.css' %}" rel="stylesheet">
    
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'homepage/css/magnific-popup.css' %}"> 
    
    <script src="{% static 'homepage/js/modernizr-2.6.2.min.js' %}"></script>  <!-- Modernizr /-->
</head>

<body id="home">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    
    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h2 class="h2_home wow fadeIn" data-wow-delay="0.4s">My Drive</h2>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Share Files Safely from anywhere in the world</h3>
            <ul class="list-inline intro-social-buttons">
                <!--<li><a class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"  data-toggle="modal" data-target="#login-modal" data-remote="{%url 'register'%}"><span class="network-name">SignUp</span></a>
                </li>
                <li><a class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s" data-toggle="modal" data-target="#login-modal" data-remote="{%url 'login'%}"><span class="network-name">Login</span></a>
                </li>-->
                <li><a class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s" href="{%url 'register'%}"><span class="network-name">SignUp</span></a>
                </li>
                <li><a class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s" href="{%url 'login'%}"><span class="network-name">Login</span></a>
                </li>
            </ul>
        </div>    
        <!-- /.container -->
        <div class="col-xs-12 text-center abcen wow fadeIn">
            <div class="button_down "> 
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#useit"> <img src="{% static 'homepage/img/icon/circle.png' %}" alt=""> </a>
            </div>
        </div>
    </div>
    
    <!-- NavBar-->
    <nav class="navbar-default" role="navigation" id="mynavbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#home">My Drive</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menuitem"><a href="#whatis">Whatis</a>
                    <li class="menuItem"><a href="{%url 'register'%}">SignUp</a></li>
                    <li class="menuItem"><a href="{%url 'login'%}">Login</a></li>
                    <!--<li class="menuitem">
                        <button type="button" class="btn mybutton_cyano" data-toggle="modal" data-target="#login-modal" style="margin: 10px 10px 0 0" data-remote="{%url 'login'%}">Login</button>
                    </li>
                    <li class="menuitem">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal" style="margin-top: 10px" data-remote="{%url 'register'%}">SignUp</button>
                    </li>
                    <li class="menuitem">
                        <a href="{%url 'login'%}" data-toggle="modal" data-target="#newModal" data-remote="false" class="btn btn-default">
                            Launch Modal
                        </a>
                    </li>-->
            </div>
            
        </div>
    </nav> 
    
    <!-- Login -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- the new page content comes here-->
            </div>
        </div>
    </div>

<!-- Default bootstrap modal example -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...a
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <!-- Use it -->
    <div id ="useit" class="content-section-a">

        <div class="container">
            
            <div class="row">
            
                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="{% static 'homepage/img/documents1.jpg' %}" alt="">
                </div>
                
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Work on docs from anywhere</h3>
                    <p class="lead">
                        Work on your Documents from any device, anywhere in the world. So whenever you need, your files are there.
                    </p>
                </div>   
            </div>
        </div>
    </div>

    <div class="content-section-b"> 
        
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                    <img  class="img-responsive img-rounded" src="{% static 'homepage/img/share1.jpg' %}" alt="">
                </div>
                
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Share files with your colleagues</h3>
                    <p class="lead">
                        You can quickly share your files with others without emailing files back and forth. So Don't get bothered about emailing files to each other.<br>
                        Just Share.
                    </p>
                </div>              
            </div>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">

             <div class="row">
             
                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="{% static 'homepage/img/update1.jpg' %}" alt="">
                </div>
             
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Work on Projects together</h3>
                    <p class="lead">Update files and presentations and everyone gets updated automatically. Notifies team for updated or shared files.<br>
                    Just update.</p>
                    
                </div>           
            </div>
        </div>

    </div>

    <!-- contact us -->
    <!-- Used to display the nav bar fixed at top so don't remove it -->
    <div class="mockup-content">
        <div class="morph-button morph-button-inflow">
            <button type="button "><span>Contact Us</span></button>
        </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Work with Us</h3>
            <h5>Registered Office:</h5>
            <p></p>
            
            <!-- LICENSE -->
            <a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
           property="dc:title">Flatfy Theme </a> by
           <a rel="dc:creator" href="http://www.andreagalanti.it"
           property="cc:attributionName">Andrea Galanti</a>
           is licensed to the public under 
           <BR>the <a rel="license"
           href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative
           Commons Attribution 3.0 License - NOT COMMERCIAL</a>.
           
       
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Write to us at:</h3>
             
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'homepage/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.js' %}"></script>
    <script src="{% static 'homepage/js/script.js' %}"></script>
    <!-- StikyMenu -->
    <script src="{% static 'homepage/js/stickUp.min.js' %}"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $(document).ready( function() {
          $('#mynavbar').stickUp();
          
        });
      });
    
    </script>
    <!-- Smoothscroll -->
    <script type="text/javascript" src="{% static 'homepage/js/jquery.corner.js' %}"></script> 
    <script src="{% static 'homepage/js/wow.min.js' %}"></script>
    <script>
     new WOW().init();
    </script>
    <script src="{% static 'homepage/js/classie.js' %}"></script>
    <script src="{% static 'homepage/js/uiMorphingButton_inflow.js' %}"></script>
    <!-- Magnific Popup core JS file -->
    <script src="{% static 'homepage/js/jquery.magnific-popup.js' %}"></script>
    <!-- to update the remote field of modal-->
    <script type="text/javascript">
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
    </script>
    <script type="text/javascript">
        $("#newModal").on("show.bs.modal", function(e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-body").load(link.attr("href"));
        });
    </script>
</body>

</html>
