{%for mynotification in notifications%}
  {%with notification=mynotification.note%}
    <li><!-- start notification -->
      <a href="#">
        <i class="
          {%if 'share' in notification.verb%} fa fa-users text-blue{%endif%}
          {%if 'update' in notification.verb%}fa fa-edit text-green{%endif%}
          {%if 'upload' in notification.verb%}fa fa-upload text-yellow{%endif%}
          {%if 'download' in notification.verb%}fa fa-download text-green{%endif%}
          {%if 'delete' in notification.verb%}fa fa-trash text-red{%endif%}
          {%if 'restore' in notification.verb%}fa fa-undo text-blue{%endif%}
          {%if 'create' in notification.verb%}fa fa-folder text-yellow{%endif%}
          {%if 'description' in notification.verb%}fa fa-th text-green{%endif%}
          {%if 'rename' in notification.verb%}fa fa-pencil text-navy{%endif%}
          ">
        </i>
        {%if notification.actor.user == request.user%}
          You have
        {%else%}
          {{notification.actor.user.username}} has
        {%endif%}
        {{notification.verb}} {{notification.objName}}
        {%if notification.actorDest%}
          with 
          {%if notification.actorDest.user == request.user%}
            you.
          {%else%}
            {{notification.actorDest.user.username}}.
          {%endif%}
        {%endif%}<br>
        <small style="float: right;">{{notification.time}}</small>
      </a>
    </li><!-- end notification -->
  {%endwith%}
{%endfor%}